.carousel-control-next, .carousel-control-prev {
    position: static;
    width: fit-content;
    

}
#carousel-container{
    grid-column: 1 / 3;
}
#recommend-carousel .carousel-item{
    display: none !important;
}

#recommend-carousel .carousel-item.active{
    display: flex !important;
}

/*vertical*/
@media screen and (max-width: 768px) {
    .carousel-control-next-icon, .carousel-control-prev-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    #carousel-container{
        grid-column: unset;
    }
    #recommend-carousel .carousel-item.active{
        flex-direction: column;
    }
}