#recommend-carousel{
    
}
#recommend-carousel .carousel-item{
    display: none !important;
}

#recommend-carousel .carousel-item.active{
    display: flex !important;
}

/*vertical*/
@media screen and (max-width: 800px) {
    #recommend-carousel .carousel-item {
        margin-left: 15%;
        margin-right: 15%;
        width: 80%;
        height: 100%;
        font-size: 0.75em;
    }

    #recommend-carousel .carousel-item.active{
        display: grid !important;
    }
}