.login-page-container{
    height: 100%;
    background-color: hsl(0, 0%, 95%);
}
.login-form{
    background-color: white;
    padding: 0.65rem;
    width: 100%;
    max-width: 500px;
    border-radius: 0.8rem;
    box-shadow: 0 4px 16px 4px rgb(0 0 0 / 14%);
}
.login-form > div{
    width: 100%;
    margin: 0.5rem;
}
.forgot-password{
    float: right;
    color: hsl(206, 100%, 40%);
    cursor: pointer;
}
.appear-animated{
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.register{
    margin-left: 0.5rem;
    color: hsl(206, 100%, 40%);
    cursor: pointer;
}
.register:hover{
    text-decoration: underline;
}
.forgot-password:hover{
    text-decoration: underline;
}
#login-btn{
    margin: 0.5rem;
    width: 30%;
}
@keyframes appear{
    0%{
        transform: translate(0.5rem, -1rem);
    }
    100%{
        transform: none;
    }
}