@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");
* {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  word-wrap: break-word;
  scroll-padding: 1rem;
}
img {
  width: 100%;
  height: auto;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  

}
#create-blog-btn{
  margin-bottom: 1rem;
}
button{
  border: none;
  background: transparent;
  padding: 0;

}
:root{
  --nav-background-color: hsla(180, 8%, 95%, 1);
  --nav-border-color: hsla(0, 0%, 91%, 1);
  --bs-sm: 0 1px 2px hsla(0,0%,0%,0.05),0 1px 4px hsla(0,0%,0%,0.05),0 2px 8px hsla(0,0%,0%,0.05);
  --nav-button-hover-shadow: 0px 0px 6px 4px hsla(206, 74%, 67%, 1);

  --nav-button-icon-size: max(min(calc(0.5rem + 3vw), 2.8rem), 1.8rem);
  --nav-heading-font-size: max(min(calc(0.5rem + 1.5vw), 1.5rem), 1.25rem);

  --search-bar-font-size: max(min(calc(0.5rem + 1vw), 1.4rem), 1rem);
  --advanced-search-button-bg-color: hsl(206, 96%, 45%);
  --search-icon-size: 2rem;
  --nav-search-bar-dimension: 50%;
  --footer-bg-color: #212529;
  --footer-font-size: max(min(calc(0.5rem + 1vw), 1.4rem), 1rem);

  --body-bg-color: hsl(0, 0%, 95%);
  --animate-duration: 0.65s;
  --animate-delay: 0.45s;
}
/* body{
  background-color: var(--body-bg-color);
} */
.material-icons{
  margin-right: 0.2rem;
}
.flex-horizontal{
  display:flex;
  flex-direction: row;
}
.flex-vertical{
  display:flex;
  flex-direction:column;
}
.align-center{
  justify-content: center;
  align-items: center;
}
.align-end{
  justify-content: flex-end;
  align-items: center;
}
.nav-logo-container{
  margin-left: 0.2rem;
  width: 4rem;
}
.nav-heading{
  font-size: var(--nav-heading-font-size);
}
.nav-button{
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 12px;
}
.nav-button:hover{
  box-shadow: var(--nav-button-hover-shadow);
}
nav{
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
  border-bottom: 1px solid var(--nav-border-color);
  background-color: var(--nav-background-color);
  box-shadow: var(--bs-sm);
}
.author-avatar{
  max-width: 50%;
}

.width-full{
  width: 100% !important;
}

.controversy-flag{
  max-width: 3rem;
  float: right;
}
.margin-children > *{
  margin: 0.35rem;
}

.nav-item-container{
  flex-grow: 1;

  margin:0.25rem;
  padding: 0.25rem;

  justify-content: center;
  align-items: center;
}
.nav-item-container > .material-icons {
  font-size: var(--nav-button-icon-size);
  margin-right: 0.2rem;
}
.search-bar-container{
  width: var(--nav-search-bar-dimension);
  height: auto;
}
.nav-search-bar{
  padding: 0;
  border-radius: 12px;
  position:relative;
  background-color: white;
  width: 100%;
  height: 100%;

  border: 0.5px solid hsla(0, 0%, 78%, 1);

  align-items: center;
}
#search-icon{
  cursor: pointer;
  font-size: var(--search-icon-size);
  margin-right: 0.3rem;
  margin-left: 0.3rem;

  opacity: 0.4;
  transition: all 0.3s;
}
#search-icon:hover{
  opacity: 1;

}
#quick-search-input{
  margin-left: 0.3rem;
  flex-grow: 1;
  background: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: var(--search-bar-font-size);
  
}
.advanced-search-button{
  font-size: 1rem;

  border-radius: 0;
  padding: 0.2rem;


  text-align: center;
  color: white;
  background-color:  var(--advanced-search-button-bg-color);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  cursor: pointer;

  height:100%;

}
#quick-search-input:focus{
  box-shadow: none;
  color: #000;
}
.material-icons{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.poster-container{
  min-width: 13rem;

  width: 50%;
  max-width: 33rem;
  margin: auto;
}
main{

  flex-grow: 1;
  padding: 1rem;

  flex-grow: 1;
}
main > div{
  height: 100%;
}
footer{
  /*font-size: var(--footer-font-size);*/
  padding: 1rem;
  background-color: var(--footer-bg-color);
  color: white;
  display: flex;
  flex-direction: row;
}
.links-container{
  flex-grow: 1;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.links-container > span{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.links-container > span:hover{
  text-decoration: underline;
}
footer{
  /*font-size: var(--footer-font-size);*/
  padding: 1rem;
  background-color: var(--footer-bg-color);
  color: white;
  display: flex;
  flex-direction: row;
}
.links-container{
  flex-grow: 1;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.links-container > span{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.links-container > span:hover{
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  nav{
    flex-direction: column;
  }
  .nav-item-container{
    justify-content: flex-start;
  }
  .search-bar-container{
    width: 100%;

    height: var(--nav-search-bar-dimension);


  }
  footer{
    flex-direction: column;
    
  }
  .links-container{
    margin-top: 1rem;
    justify-content: center;
    align-items: center;

  }
}